@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

// Sass variables begin with $ and can be used in place of CSS
// such as body{ font: $font-stack; } would be the same thing
// as: body{ font: Helvetica, sans-serif; }

$font-stack: 'Cabin', Helvetica, sans-serif;
$primary-color: #333;
$dark-text: rgb(255, 234, 172);
$dark-bg: rgb(0, 26, 83);
$h1-size: 3.8rem;
$h2-size: 2.2rem;
$h3-size: 1.65rem;
$span-size: 1.4rem;

// Main styles
.dark {
    background-color: $dark-bg;
    color: $dark-text;
}
.dark-font {
    color: $dark-text;
}
html {
    background-color: rgb(163, 226, 255);
    -webkit-transition: .4s;
    transition: .4s;
}
body {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: $font-stack;
    color: $primary-color;
}
h1 {
    margin: 1.5%;
    font-size: $h1-size;
}
h2 {
    margin: 1%;
    font-size: $h2-size;
}
h3 {
    margin: 1.5% 0 3.5% 0;
    font-size: $h3-size;
}

// Theme toggle styles
// .theme-toggler is the container
.theme-toggler {
    position: absolute;
    right: 25%;
    top: 5%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
// hide this checkbox
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 7, 105);
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(253, 255, 146);
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider:before {
    background-color: rgb(255, 174, 0);
}
input:checked + .slider {
    background-color: #cde9ff;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

// Board styles

.Board {
    margin: auto;
    width: 80%;
}
.Board h2, .Board h4 {
    margin-bottom: 2.5%;
}

// Todo styles

.todo {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
        margin: 0 5px;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        padding: 0px;
        border: none;
        max-height: 24px;
    }
    button:hover {
        cursor: pointer;
    }
    .btn-complete:hover {
        color: green;
    }
    .btn-delete:hover {
        color: red;
    }
    .btn-move:hover {
        color: skyblue;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $span-size;
    }
}
.todo-creator form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.todo-creator p {
    margin: 1.5%;
}
.todo-creator button {
    height: 35px;
}
input[type="text"] {
    font-size:24px;
}

// Modal styles

.Modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.Modal-Container {
    margin: 15% auto 0 auto;
}
.Modal-Container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Modal-Container form input, .Modal-Container form button {
    margin: .25% 0;
}