@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.dark {
  background-color: #001a53;
  color: #ffeaac;
}

.dark-font {
  color: #ffeaac;
}

.day-modal {
  color: white;
}

html {
  background-color: #a3e2ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body {
  margin: auto;
  width: 50%;
  text-align: center;
  font-family: "Cabin", Helvetica, sans-serif;
  color: #333;
}

h1 {
  margin: 1.5%;
  font-size: 3.8rem;
}

h2 {
  margin: 1%;
  font-size: 2.2rem;
}

h3 {
  margin: 1.5% 0 3.5% 0;
  font-size: 1.65rem;
}

.nav-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  margin-bottom: 20px;
}

.nav-header button {
  margin: 0 20px;
}

.reg-btn {
  padding: 5px 10px;
  border-radius: 6px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.reg-btn:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000769;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fdff92;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #ffae00;
}

input:checked + .slider {
  background-color: #cde9ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.Board {
  margin: auto;
  width: 80%;
}

.Board h2, .Board h4 {
  margin-bottom: 2.5%;
}

.todo {
  width: 100%;
  margin: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}
.todo button {
  margin: 8px 7px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  color: white;
  padding: 0px;
  border: none;
  max-height: 24px;
}
.todo button:hover {
  cursor: pointer;
}
.todo .btn-complete:hover {
  color: green;
}
.todo .btn-delete:hover {
  color: red;
}
.todo .btn-move:hover {
  color: skyblue;
}

.todo-txt {
  width: 65%;
  text-align: left;
  font-size: 1.4rem;
  padding: 10px 10px;
  border: 2px solid white;
  border-radius: 15px;
}

.todo-btn-bar {
  width: 25%;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-creator form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.todo-creator p {
  margin: 1.5%;
}

input[type=text], input[type=password], input[type=email] {
  font-size: 24px;
}

.Modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75);
  /* Black w/ opacity */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal-Container {
  margin: auto;
  position: relative;
  padding: 3% 0;
  width: 40%;
  border-radius: 25px;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.25);
}

.Modal-Container form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal-Container form input, .Modal-Container form button {
  margin: 0.25% 0;
}

.Modal-Container form input {
  width: 92%;
  margin: 15px 0;
}

.Modal-Container form button {
  margin: 10px 0px;
}

.Modal-Container .Modal-close-btn {
  position: absolute;
  width: 10%;
  height: 25px;
  border-radius: 0;
  bottom: 6%;
  right: 45%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}

.Modal-Container .Modal-close-btn:hover {
  cursor: pointer;
  background-color: darkred;
}

.login-container {
  border: 3px solid white;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  margin: auto;
  padding: 5% 2.5%;
  width: 50%;
}

.login-container p {
  margin: 2.5% 0;
}

.login-container form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container label {
  width: 70%;
  text-align: left;
  margin: 2.5% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container label p {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.login-container label input {
  width: 100%;
}

.login-container button {
  margin: 7.5% auto;
  width: 150px;
  height: 50px;
  font-size: 1.4rem;
  box-shadow: 0px 2px black;
  border-radius: 15px;
  background-color: #f752e1;
  border: none;
}

.login-container button:hover {
  cursor: pointer;
  background-color: #fd96ef;
}

.login-container em {
  color: #ff798f;
  text-decoration: underline;
  cursor: pointer;
}

.text-container p {
  width: 80%;
  margin: 2.5% auto;
  line-height: 1.65rem;
}

.text-container ol {
  width: 15%;
  margin: auto;
  list-style: square;
  text-align: left;
}

@media screen and (max-width: 450px) {
  body {
    width: 100%;
  }

  h1 {
    font-size: 2.8rem;
    margin: 30px 0;
  }

  h2 {
    font-size: 1.8rem;
    margin: 20px 0;
  }

  h3 {
    font-size: 1.4rem;
    margin: 20px 0;
  }

  h4 {
    font-size: 1.2rem;
    margin: 20px 0;
  }

  .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }

  .todo-creator {
    margin: 20px 0;
  }

  .Board {
    margin: 20px 0;
    width: 100%;
  }

  .Modal {
    width: 100%;
  }

  .Modal-Container {
    width: 96%;
    padding-bottom: 30px;
  }

  .Modal-Container .Modal-close-btn {
    width: 20%;
    right: 40%;
    bottom: 8px;
    font-size: 1.2rem;
  }

  .reg-btn {
    font-size: 1.2rem;
  }

  .todo {
    flex-wrap: wrap;
    justify-content: center;
  }

  .todo-btn-bar {
    width: 100%;
    justify-content: center;
  }

  .todo-btn-bar button {
    margin: 15px 10px;
  }

  .todo-txt {
    width: 90%;
    text-align: justify;
  }

  .btn-complete {
    display: none;
  }

  .login-container {
    width: 90%;
  }

  .Modal-Container .text-container {
    font-size: 0.8rem;
  }

  .Modal-Container form input {
    width: 92%;
    margin: 10px 0;
  }

  .todo-txt span {
    word-wrap: break-word;
  }
}

/*# sourceMappingURL=main.css.map */
